<header>
    <div class="logo">
      <img src="assets//logo.png" alt="" />
    </div>
    <nav class="">
      <ul>
        <li ><a  routerLink="/contenedor"   class="nav_link">Home</a></li>
        <li ><a  routerLink="/servicio"   class="nav_link">Servicios</a></li>
        <li ><a  routerLink="/clientes"   class="nav_link">Clientes</a></li>
        <li><a routerLink="/empleados"   class="nav_link">Empleados</a></li>
        <li><a href="/reservaciones" class="nav_link">Reservaciones</a></li>
      </ul>
    </nav>
    <div class="log_sesion">
      <a href="">Cerrar</a>
      <a href="">Crear Cuenta</a>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-4">
        <form class="formulario" [formGroup]= "form" (ngSubmit) = "GuardarOActualizar()">
          <div class="form-group">
            <div class="input-group">
             <input type="text" class="form-control" placeholder="Servicio" name="contra" 
             formControlName = "nombreServicio">
            </div>
          </div>
          <div class="form-group">
          
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Precio" name="contra" formControlName = "precio">
             </div>
             <div class="input-group">
              <input type="text" class="form-control" placeholder="Duración" name="contra" formControlName = "duracion">
             </div>
          </div>
          <div class="form-group">
            <button class="btn btn-success btn-lg" [disabled]= "!form.valid"  type="submit"> <i class="fas fa-database"></i> Guardar</button>
          </div>
         </form>
      </div>
      <div class="col-8">
        <div  class="container mt-3">
          <input type="text" class="form-control" placeholder="Buscar..." name="filterPost" [(ngModel)] =" filterPost ">
          <table  class="table table-hover">
            <thead>
              <tr>
                <th>Id</th>
                <th>Servicio</th>
                <th>Precio</th>
                <th>Duración</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor = "let servicio of servicio.lista |  paginado:page_size:page_number">
                <td>{{servicio.idServicio}}</td>
                <td>{{servicio.nombreServicio}}</td>
                <td>{{servicio.precio}}</td>
                <td>{{servicio.duracion}}</td>
                <td>
                  <i  class="far fa-edit fa-lg text-info" (click)= "actualizarServicio(servicio)" style="cursor: pointer;"></i>
                </td>
                <td>
                  <i class="far fa-trash-alt fa-lg text-danger" (click)= "eliminarServicio(servicio) " style="cursor: pointer;"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <mat-paginator [length]= "servicio.lista.length" 
          [pageSize]= "page_size" 
          (page)= "handlePage($event)" >
          </mat-paginator>
        </div>
      </div>    
      </div>
    </div>
