
  <header>
    <div class="logo">
      <img src="assets//logo.png" alt="" />
    </div>
    <nav class="">
      <ul>
        <li ><a  routerLink="/contenedor"   class="nav_link">Home</a></li>
        <li ><a  routerLink="/servicio"   class="nav_link">Servicios</a></li>
        <li ><a  routerLink="/clientes"   class="nav_link">Clientes</a></li>
        <li><a routerLink="/empleados"   class="nav_link">Empleados</a></li>
        <li><a href="/reservaciones" class="nav_link">Reservaciones</a></li>
      </ul>
    </nav>
    <div class="log_sesion">
      <a href="">Cerrar</a>
      <a href="">Crear Cuenta</a>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-3">
        <form [formGroup]= "form" (ngSubmit) = "GuardarOActualizar()">
          <div class="form-group">
            <div class="input-group">
             <input type="text" class="form-control" placeholder="Primer Nombre" name="contra" 
             formControlName = "primerNombre">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
             <input type="text" class="form-control" placeholder="Segundo Nombre" name="contra" formControlName = "segundoNombre" >
            </div>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Primer Apellido" name="contra" formControlName = "primerApellido">
             </div>
             <div class="input-group">
              <input type="text" class="form-control" placeholder="Segundo Apellido" name="contra" formControlName = "segundoApellido" >
             </div>
             <div class="input-group">
                <input type="text" class="form-control" placeholder="Dirección" name="contra" formControlName = "direccion">
               </div>
               <div class="input-group">
                <input type="text" required  class="form-control" [maxlength]="14" [minlength]="14" placeholder="Cedula" name="contra" formControlName = "cedula">
               </div>
             <div class="input-group">
              <input type="text" class="form-control" [maxlength]="8" [minlength]="8" placeholder="Celular" name="contra" formControlName = "celular">
             </div>
             <div class="input-group">
                <input type="text" class="form-control" placeholder="Privilegio" name="contra" formControlName = "privilegio">
               </div>
               <div class="input-group">
                <select  id="inputState" class="form-control" formControlName = "estadoEmpleado">
                  <option *ngFor= " let estados of estadosEmpleados ">{{ estados.estado }} </option>
                </select>
               </div>
          </div>
          <div class="form-group">
            <button class="btn btn-success btn-lg mt-3" [disabled]= "!form.valid"   type="submit"> <i class="fas fa-database"></i> Guardar</button>
          </div>
         </form>
      </div>
      <div class="col-9">
        <div  class="container mt-3">
          <input type="text" class="form-control" placeholder="Buscar..." name="filterPost" [(ngModel)] =" filterPost ">
          <table  class="table table-hover">
            <thead>
              <tr>
                <th>Id Empleado</th>
                <th>Primer Nombre</th>
                <th>Segundo Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Dirección</th>
                <th>Cedula</th>
                <th>Celular</th>
                <th>Privilegio</th>
                <th>Estado</th>
                <th>Fecha creación</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor = "let empleado of servicio.lista | filter: filterPost | paginado:page_size:page_number">
                <td>{{empleado.idEmpleado  }}</td>
                <td>{{empleado.primerNombre}}</td>
                <td>{{empleado.segundoNombre}}</td>
                <td>{{empleado.primerApellido}}</td>
                <td>{{empleado.segundoApellido}}</td>
                <td>{{empleado.direccion}}</td>
                <td>{{empleado.cedula}}</td>
                <td>{{empleado.celular}}</td>
                <td>{{empleado.privilegio}}</td>
                <td>{{empleado.idEstadoEmpleado}}</td>
                <td>{{empleado.fechaCreacion | date:'dd-MM-yyyy'}}</td>
                <td>
                  <i  class="far fa-edit fa-lg text-info" (click)= "actualizarEmpleado(empleado)" style="cursor: pointer;"></i>
                </td>
                <td>
                  <i class="far fa-trash-alt fa-lg text-danger" (click)= "eliminarEmpleado(empleado) " style="cursor: pointer;"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <mat-paginator [length]= "servicio.lista.length" 
          [pageSize]= "page_size" 
          (page)= "handlePage($event)" >
          </mat-paginator>
        </div>
      </div>    
      </div>
    </div>
   